apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "kserve.kserve.example.com/v1alpha1",
          "kind": "KServeStack",
          "metadata": {
            "labels": {
              "app.kubernetes.io/created-by": "kserve-installer",
              "app.kubernetes.io/instance": "kservestack-sample",
              "app.kubernetes.io/managed-by": "kustomize",
              "app.kubernetes.io/name": "kservestack",
              "app.kubernetes.io/part-of": "kserve-installer"
            },
            "name": "kservestack-sample"
          },
          "spec": null
        }
      ]
    capabilities: Basic Install
    createdAt: "2026-02-08T14:44:35Z"
    operators.operatorframework.io/builder: operator-sdk-v1.33.0
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v4
  name: kserve-installer.v0.0.1
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: KServeStack is the Schema for the kservestacks API
      displayName: KServe Stack
      kind: KServeStack
      name: kservestacks.kserve.kserve.example.com
      version: v1alpha1
    required:
    - kind: Istio
      name: istios.sailoperator.io
      version: v1
    - kind: KnativeServing
      name: knativeservings.operator.knative.dev
      version: v1beta1
    - kind: Certificate
      name: certificates.cert-manager.io
      version: v1
  description: Installs KServe, Istio, and Knative
  displayName: KServe Installer
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - '*'
          resources:
          - '*'
          verbs:
          - '*'
        - apiGroups:
          - kserve.kserve.example.com
          resources:
          - kservestacks
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - kserve.kserve.example.com
          resources:
          - kservestacks/finalizers
          verbs:
          - update
        - apiGroups:
          - kserve.kserve.example.com
          resources:
          - kservestacks/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: kserve-installer-controller-manager
      deployments:
      - label:
          app.kubernetes.io/component: manager
          app.kubernetes.io/created-by: kserve-installer
          app.kubernetes.io/instance: controller-manager
          app.kubernetes.io/managed-by: kustomize
          app.kubernetes.io/name: deployment
          app.kubernetes.io/part-of: kserve-installer
          control-plane: controller-manager
        name: kserve-installer-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              annotations:
                kubectl.kubernetes.io/default-container: manager
              labels:
                control-plane: controller-manager
            spec:
              containers:
              - args:
                - --secure-listen-address=0.0.0.0:8443
                - --upstream=http://127.0.0.1:8080/
                - --logtostderr=true
                - --v=0
                image: gcr.io/kubebuilder/kube-rbac-proxy:v0.14.1
                name: kube-rbac-proxy
                ports:
                - containerPort: 8443
                  name: https
                  protocol: TCP
                resources:
                  limits:
                    cpu: 500m
                    memory: 128Mi
                  requests:
                    cpu: 5m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
              - args:
                - --health-probe-bind-address=:8081
                - --metrics-bind-address=127.0.0.1:8080
                - --leader-elect
                command:
                - /manager
                image: akashneha/kserve-installer:v0.0.1
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 500m
                    memory: 128Mi
                  requests:
                    cpu: 10m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
              securityContext:
                runAsNonRoot: true
              serviceAccountName: kserve-installer-controller-manager
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: kserve-installer-controller-manager
    strategy: deployment
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - kserve
  - istio
  - knative
  links:
  - name: Kserve Installer
    url: https://kserve-installer.domain
  maintainers:
  - email: akash@example.com
    name: Akash Deo
  maturity: alpha
  provider:
    name: Akash Deo
  version: 0.0.1
