apiVersion: sailoperator.io/v1
kind: Istio
metadata:
  name: default
spec:
  version: v1.28.3
  namespace: istio-system
  values:
    gateways:
      istio-ingressgateway:
        enabled: true
        service:
          type: LoadBalancer
