---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - '*'
- apiGroups:
  - kserve.kserve.example.com
  resources:
  - kservestacks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kserve.kserve.example.com
  resources:
  - kservestacks/finalizers
  verbs:
  - update
- apiGroups:
  - kserve.kserve.example.com
  resources:
  - kservestacks/status
  verbs:
  - get
  - patch
  - update
